{
    "github.com": {
        "username": "$GITHUB_USERNAME",
        "password": "$GITHUB_TOKEN_AUTHENTICATION"
    },
    "github-oauth": {
        "github.com": "$GITHUB_TOKEN_AUTHENTICATION"
    }
}
